<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <style>
	footer {
	    position: fixed;
	}
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
	    <li><a href="{{ url_for('admin_dashboard') }}">Admin</a></li>
	    <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('exams') }}">Exams</a></li>
            <li><a href="{{ url_for('students') }}">Learners</a></li>
            <li><a href="{{ url_for('teachers') }}">Teachers</a></li>
            <li><a href="{{ url_for('parents') }}">Parents</a></li>
	    <li><a href="{{ url_for('wazazi') }}">Wazazi</a></li>
            <li><a href="{{ url_for('workers') }}">Workers</a></li>
            <li><a href="{{ url_for('results') }}">Results</a></li>
            <li><a href="{{ url_for('logout_teacher') }}">Logout</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
<footer>
        <p>&copy; School Management System</p>
    </footer>
</body>
</html>
