body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin-top: 0;
    padding: 0;
    background-color: #f2f2f2;
}

footer {
    width: 100vw;
    background: #333;
    color: #fff;
    margin: 0;
    padding: 0;
    position: sticky;
    bottom: 0;
}

nav ul {
    width: 100vw;
    overflow: auto;
    background: #333;
    color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    position: sticky;
    top: 0;
}

nav ul li {
    margin: 0;
    padding: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: lightblue;
}

table th {
    position: sticky;
}
table, th, td {
    border: 1px solid black;
}

td {
    padding: 10px;
    text-align: left;
}

th {
    text-align: center;
    padding: 10px;
}

h1 {
    color: red;
}

h2 {
    text-align: center;
}

form.f, #y {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    display: block;
    margin: 10px;
    padding: 10px 10px 30px 10px;
}

form label {
    width: 100px;
    display: inline-block;
    margin-bottom: 10px;
}

form button, input[type="submit"] {
    background-color: green;
    color: white;
    float: right;
    margin-bottom: 10px;
}

form input[type="text"], input[type="number"], input[type="password"],
.exams td:nth-child(1),
.exam_results td:nth-child(1),
.exam_results td:nth-child(3),
.learners td:nth-child(1),
.learners td:nth-child(3),
.learner_report td:nth-child(1),
.learner_report td:nth-child(3),
.learner_report td:nth-child(4),
.learner_repo td:nth-child(1),
.learner_repo td:nth-child(3),
.learner_repo td:nth-child(4),
.teachers td:nth-child(1),
.parents td:nth-child(1),
.workers td:nth-child(1),
.results td:nth-child(1),
.results td:nth-child(4) {
    text-align: center;
}

#d {
    width: 100vw;
    height: 50vh;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    overflow: auto; 
    white-space: nowrap;
}


h1, h2, p {
    text-align: center;
}    

img {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: auto 20px;
}

#c {
    margin-left: 5px;
}

button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

#y {
    background-color: yellow;
}

.container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Adjust as needed */
            border: 1px solid #ccc; /* Optional: to see the container's boundaries */
        }
        .container img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain; /* Ensures the image is scaled while preserving its aspect ratio */
        }
	
#add, #edit, #delete {
    width: 100vw;
    height: 100vh;
    border: 1px solid #ddd;
    margin: 10px;
    color: white;
    padding: 0 10px 0 10px;
    ul {
	list-style: none;
    }
}

#add {
    background-color: black;
    color:white;
}

#edit {
    background-color: red;
}

#delete {
    background-color: green;
}
