<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="container">
<!--                <h1>School Management System</h1> -->
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('sms') }}">SMS</a></li>
                    <li><a href="{{ url_for('services') }}">Our Services</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="about">
        <div class="container">
            <div class="about-content">
                <img src="{{ url_for('static', filename='abc.png') }}" alt="About Us Photo" class="about-photo">
                <div class="text">
                    <h2>About Us</h2>
                    <p>My name is <strong>Yegon Japheth.</strong></p>
		    <p>I am a teacher, currently teaching at Kaptalamwa Primary School.</p>
		    <p>This piece of software is offered for free.</p>
                    <p>Our goal is to help teachers leverage the wonders of technology so as to enhance the teaching and learning process in our schools.</p>
		    <p>Feel free to reach out to me in case you need help on any matter pertaining ICT integration.</p>
		    <p>Reach me on:</p>
		    <ul>
			<li><strong>0720271321</strong></li>
			<li><strong>0773204240</strong></li>
			<li><strong>yegonjapheth@gmail.com</strong></li>
		    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 - Yegon Japheth</p>
        </div>
    </footer>
</body>
</html>
