<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parent Dashboard - School Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
	h1 {
	    color: red;
	}
    </style>
</head>
<body>
    <header>
	<h1>Parents Dashboard</h1>
        <nav>
	    <a href="{{ url_for('index') }}">Home</a>
<!--            <a href="{{ url_for('teachers') }}">Teachers</a>
-->
            <a href="{{ url_for('download_results', format='pdf') }}">Download PDF</a>
	    <a href="{{ url_for('download_results', format='csv') }}">Download CSV</a>
<!--            <a href="{{ url_for('exams') }}">Exams</a>
            <a href="{{ url_for('results') }}">Results</a>
            <a href="{{ url_for('parents') }}">Parents</a>
-->
            <a href="{{ url_for('logout_parent') }}">Logout</a>
        </nav>
    </header>
    <main>
        <h1><pre>Welcome, {{ parent.name }}.</pre></h1>

        {% for student in students %}
            <section>
                <h3>{{ student.name }}</h3>

                <h4>Bar Chart</h4>
                {{ bar_graphs[student.id]|safe }}

                <h4>Pie Chart</h4>
                {{ pie_graphs[student.id]|safe }}

                <div>
                    <table id="cd">
                        <thead>
                            <tr>
				<th>S/No</th>
                                <th>Exam</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in student_results[student.id] %}
                                <tr>
				    <td>{{ loop.index }}</td>
                                    <td>{{ result.exam_name }}</td>
                                    <td>{{ result.score }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        {% endfor %}
    </main>
<br><br>
    <footer>
        <p>&copy; 2024 School Management System</p>
    </footer>
</body>
</html>
