<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Edit Teacher</title>
    <style>
	footer {
	    position: fixed;
	}
    </style>
</head>
<body>
    <nav>
        
            <a href="{{ url_for('index') }}">Home</a>
	    <a href="{{ url_for('admin_dashboard') }}">Admin</a>
            <a href="{{ url_for('exams') }}">Exams</a>
            <a href="{{ url_for('students') }}">Learners</a>
            <a href="{{ url_for('teachers') }}">Teachers</a>
            <a href="{{ url_for('parents') }}">Parents</a>
            <a href="{{ url_for('workers') }}">Workers</a>
            <a href="{{ url_for('results') }}">Results</a>
            <a href="{{ url_for('logout_teacher') }}">Logout</a>
        
    </nav>

    <h1>Edit Teacher Details</h1>
    
    <!-- Display flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <!-- Form for editing teacher details -->
    <form id="y" action="{{ url_for('edits_teacher', teacher_id=teacher.id) }}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ teacher.name }}" required><br><br>

	<label for="email">Email:</label>
	<input type="email" id="email" name="email" value="{{ teacher.email }}" required><br><br>
        
        <label for="phone">Phone No:</label>
        <input type="text" id="phone" name="phone" value="{{ teacher.phone }}" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="{{ teacher.password }}" required><br><br>
        
        <label>
            <input type="checkbox" name="is_admin" {% if teacher.is_admin %}checked{% endif %}>
            Admin
        </label><br><br>
        
        <button type="submit">Update Teacher</button>
    </form>
	<footer>
	    <p>&copy; 2024 School Management System</p>
	</footer>    
</body>
</html>
