<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - School Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
	footer {
	    position: sticky;
        }
    </style>
</head>
<body>
    <header>
        <h1>School Management System</h1>
        <nav>
            <a href="{{ url_for('admin_dashboard') }}">Admin</a>
	    <a href="{{ url_for('services') }}">Services</a>
	    <a href="{{ url_for('about') }}">About</a>
	    <a href="{{ url_for('teachers') }}">Teachers</a>
	    <a href="{{ url_for('students') }}">Learners</a>
	    <a href="{{ url_for('parents') }}">Parents</a>
	    <a href="{{ url_for('workers') }}">Workers</a>
	    <a href="{{ url_for('wazazi') }}">Wazazi</a>
	    <a href="{{ url_for('exams') }}">Exams</a>
	    <a href="{{ url_for('scores') }}">Scores</a>
  <!--	    <a href="{{ url_for('results') }}">Results</a> -->
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('login_teacher') }}">Login</a>
        </nav>
    </header>
    <main>
        <h2>Welcome to the School Management System</h2>
	<img src="{{ url_for('static', filename='abc.png') }}" type="jpeg/image" alt="logo">
        <p>Manage your school records efficiently with our system.</p>
    </main>
    <footer>
        <p>&copy; 2024 School Management System</p>
    </footer>
</body>
</html>
