<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<style>
h1 {
    text-align: center;
    color: blue;
}
div {
    border: 1px solid #ddd;
    margin: auto;
    padding: auto;
    width: 100vw;
    height: 100vh;
}
</style>
</head>
<body>
<nav>
<a href="{{ url_for('index') }}">Home</a>
<a href="{{ url_for('teachers') }}">Teachers</a>
<a href="{{ url_for('forgot_password') }}">Forgot Password</a>
</nav>
<div>
<h1>Teachers' Login Form</h1>
<form id="y" action="/login_teacher" method="post">
    <label for="phone">Phone No:</label>
    <input type="text" id="phone" name="phone" required>
    <br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br><br>
    <button type="submit">Login</button>

{% if message %}
<p>{{ message }}</p>
{% endif %}

</form>
</div>
</body>
</html>

