<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<style>
h1 {
    text-align: center;
    color: blue;
}
div {
    border: 1px solid #ddd;
    margin: auto;
    padding: auto;
    width: 100vw;
    height: 100vh;
}
</style>
</head>
<body>
<nav>
<a href="{{ url_for('index') }}">Home</a>
<a href="{{ url_for('teachers') }}">Teachers</a>
<a href="{{ url_for('forgot_password') }}">Forgot Password</a>
</nav>
<div>

<h1>Reset Password</h1>
<form id="y" action="/reset_password" method="post">
    <input type="hidden" name="teacher_id" value="{{ teacher.id }}">
    
    <label for="new_password">New Password:</label>
    <input type="password" id="new_password" name="new_password" required>
    
    <button type="submit">Reset Password</button>
</form>
</div>
</body>
</html>

